In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [0]:
df=pd.read_csv("diabetes.csv")

In [0]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [0]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [0]:
df.corr()

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

datapertama (age= 18-35)
datakedua (age= 36-55)
dataketiga (age>55)

In [0]:
df1=pd.read_csv("datapertama.csv")
df2=pd.read_csv("datakedua.csv")
df3=pd.read_csv("dataketiga.csv")

In [0]:
x1 = df1[['Glucose','BMI','Age','Pregnancies']]
y1 = df1[['Outcome']]

x2 = df2[['Glucose','BMI','Age','Pregnancies']]
y2 = df2[['Outcome']]

x3 = df3[['Glucose','BMI','Age','Pregnancies']]
y3 = df3[['Outcome']]

In [0]:
x1_train,x1_test,y1_train,y1_test = train_test_split(x1,y1,test_size=0.2,random_state=7)

x2_train,x2_test,y2_train,y2_test = train_test_split(x2,y2,test_size=0.2,random_state=7)

x3_train,x3_test,y3_train,y3_test = train_test_split(x3,y3,test_size=0.20,random_state=7)

In [0]:
clf1 = DecisionTreeClassifier(criterion="entropy", max_depth=1)
clf1 = clf1.fit(x1_train,y1_train)
y1_pred = clf1.predict(x1_test)

clf2 = (DecisionTreeClassifier(criterion="entropy", max_depth=1))
clf2 = clf2.fit(x2_train,y2_train)
y2_pred = clf2.predict(x2_test)

clf3 = DecisionTreeClassifier(criterion="entropy", max_depth=1)
clf3 = clf3.fit(x3_train,y3_train)
y3_pred = clf3.predict(x3_test)

In [0]:
print("Akurasi Decision Tree Data-1: ", accuracy_score(y1_test,y1_pred))
print("Akurasi Decision Tree Data-2: ", accuracy_score(y2_test,y2_pred))
print("Akurasi Decision Tree Data-2: ", accuracy_score(y3_test,y3_pred))

Akurasi Decision Tree Data-1:  0.79
Akurasi Decision Tree Data-2:  0.6136363636363636
Akurasi Decision Tree Data-2:  0.5

In [0]:
print("Evaluasi Decision Tree Data-1:") 
print(classification_report(y1_test, y1_pred))
print("Evaluasi Decision Tree Data-2:") 
print(classification_report(y2_test, y2_pred))
print("Evaluasi Decision Tree Data-3:") 
print(classification_report(y3_test, y3_pred))

Evaluasi Decision Tree Data-1:
              precision    recall  f1-score   support

           0       0.89      0.84      0.86        80
           1       0.48      0.60      0.53        20

    accuracy                           0.79       100
   macro avg       0.69      0.72      0.70       100
weighted avg       0.81      0.79      0.80       100

Evaluasi Decision Tree Data-2:
              precision    recall  f1-score   support

           0       0.54      1.00      0.70        20
           1       1.00      0.29      0.45        24

    accuracy                           0.61        44
   macro avg       0.77      0.65      0.58        44
weighted avg       0.79      0.61      0.57        44

Evaluasi Decision Tree Data-3:
              precision    recall  f1-score   support

           0       0.75      0.43      0.55         7
           1       0.33      0.67      0.44         3

    accuracy                           0.50        10
   macro avg       0.54      0.55      0.49        10
weighted avg       0.62      0.50      0.52        10